/**
 *
 * Apply your custom CSS here
 *
*/

body {
}

a {
}

.panel{
        /*	background-color: #ffffd9;*/
}
.panel .panel-heading>.panel-title {
        float: left;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        color: #b60d14;
}
.panel .panel-heading {
        position: relative;
        padding: 0;
        margin: 0;
        background: 0 0;
        font-size: 17px;
        padding-bottom: 15px;
        border-bottom: 3px solid rgba(39, 41, 42, 0.46);
}
table{
        font-size: 14px;
}
table.table tr.filters{
        /*	background-color: #d4dec6;*/
}
.table-striped>tbody>tr:nth-child(odd) {
        /*        background-color: #f5efb5;*/
        color: #636b6b;
        font-size: 13px;
}
.table-striped>tbody>tr:nth-child(even) {
        /*        background-color: #caffe6;*/
        color: #636b6b;
        font-size: 13px;
}
.table.table-bordered>thead>tr>td, .table.table-bordered>tbody>tr>td, .table.table-bordered>tfood>tr>td, .table.table-bordered>thead>tr>th, .table.table-bordered>tbody>tr>th, .table.table-bordered>tfood>tr>th{
        border-color: #eaeaea;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
        border: 1px solid #a7a7a7;
}
.table-responsive[data-pattern=priority-columns]>.table-bordered {
        border: 1px solid #b7b7b7;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
        border-top: 1px solid #b7b7b7;
        background-color: #fff;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
        border-top: 1px solid #eaeaea;
        /*	background-color: #f9cdcd;*/
}

.table>thead>tr>td, .table>tbody>tr>td, .table>tfood>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfood>tr>th {
        padding: 6px 15px;
}

table.table tr td:last-child {
        /*display: inline-flex;*/
        /*border: 0;*/
}
table.table tr td:last-child a {
        padding: 4px;
        color: #636b6b;
}

.table>thead:first-child>tr:first-child>th{
        width: 109px;
        white-space: nowrap;
}

.filters .form-control{
        border: 1px solid #eaeaea;
}
.form-control {
        border: 1px solid #eaeaea;
        color: black;
}
.form-control{
        width: 100% !important;
}
.form-inline .form-group{
        width: 100%;
        color:#000000;
        min-height: 90px;
}
.form-group label{
        color: black;
}
.form-group label{
        margin-left: 7px;
        color: #777777;
        font-weight: bold;
}
.logout_btn{
        background-color: rgba(255,255,255,.7) !important;
        padding-left: 0px !important;
}
.left_padd{
        padding-left: 0;
}

.title_span{
        font-weight: 700;
        font-size: 20px;
}
.forgot-header{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 63px !important;
}
.forgot-header hr {
        margin-top: 0px;
        margin-bottom: 0px;
}
.sidebar-menu .main-menu {
        margin-bottom: 0px;
        margin-top: 0px;
}
/*.justified_menu{
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
}*/
/*.nav.nav-tabs>li.active>a {
        color: #000 !important;
        background-color: #f2f2f2  !important;
        margin-right: 5px  !important;
        padding-left: 20px  !important;
        padding-right: 20px  !important;
        cursor: pointer  !important;
}
.nav.nav-tabs>li>a {
        color: #fff !important;
        border: none  !important;
        background-color: rgba(39, 41, 42, 0.65)  !important;
        margin-right: 5px  !important;
        padding-left: 20px  !important;
        padding-right: 20px  !important;
        cursor: pointer  !important;
}
.span-font-size {
        font-weight: 400;
        text-align: center;
        font-size: 16px;
}
.nav.nav-tabs+.tab-content {
        background: #ffffd9;
        padding: 30px;
        margin-bottom: 30px;
}

.alert-padng{
        padding: 5px 5px 5px 5px !important;
}
.limit-text{
        display: block;
                width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}*/

@media (max-width: 767px){
        .visible-xs {
                display: block!important;
        }
}

.enqview_heading{
        text-align: center;
        text-decoration: underline;
        font-size: 16px;


}
.enqview_heading p{
        color: #000;
}
.info span{
        padding: 0px 25px;
        border-bottom: 1px solid black;
        font-weight: bold;
        margin: 23px 0px;
}
.content{
        text-align: justify;
        line-height: 30px;
        width: 100%;
        height: 35px;
}

.enquiry-hr{
        margin-top: 5px !important;
        margin-bottom: 30px !important;
        border: 0;
        border-top: 2px solid #979898 !important;
}
.tab_data_margin{
        margin-left: 28px;
        margin-right: 16px;
}
/*.panel_body_background{
        background-color: rgba(151, 152, 152, 0.13);margin-top: -10px;
}*/
.proceed_client{
        margin-top: 18px;
        height: 36px;
        width: 126px;
}
/*input[type=checkbox]
{
         Double-sized Checkboxes
          -ms-transform: scale(2);  IE
          -moz-transform: scale(2);  FF
        -webkit-transform: scale(2);  Safari and Chrome
         -o-transform: scale(2);  Opera
        padding: 10px;
        width: 10px;
        height: 11px;
        margin-left: 11px;

}*/

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
        /* Checkbox text */
        font-size: 110%;
        display: inline;
        padding-left: 10px;
}
.patient_consent{
        font-size: 14px;
        line-height: 2.5;
        text-align: left;
}
.view-profile_image{

        height: 102px;
        overflow: hidden;

}
.view-profile_image img{

        max-width: 100%;
        max-height: 100%;
}

.padng_left{
        padding-left: 12px;
}

.views .open>a:focus{
        background-color: #9c9c9c;
}
.views .open>a, .views .open>a:hover, .views .open>a:focus{
        background-color: #9c9c9c;
}
.views>li>a:hover, .views>li>a:focus{
        background-color: #9c9c9c;
        color: #fff;
}
.menu-views>li>a:hover, .menu-views>li>a:focus{
        background-color: #9c9c9c;
        color: #fff;
}
.views .dropdown{
        width: 100px;
}
.views .dropdown .caret{
        float: right;
        margin-top: 7px;
}
.nav.nav-tabs>li>a{
        background-color: #fff;
        color:#000;
}
.nav-tabs{
        border-bottom: 1px solid #ddd !important;
        margin-top: 15px;
}
.nav-tabs .active{
        border-bottom: 1px solid #337ab7;
}
.nav-tabs .span-font-size{
        margin-left: 5px;
}
